:root{
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
.container{
    display: grid;
    grid-template-columns: 20fr 80fr;
    height: 100%;
    width: 100%;
}
.side-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(0, 110, 255);
    color: white;
    padding: 10px;
}
.side-container > .header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 35px;
    font-size: 1.3rem;
    font-weight: bold;
    gap: 10px;
    margin: 10px;
    
}
ul{
    padding: 0;
}

li{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 20px;
    list-style: none;
    gap: 10px;
    margin: 10px;
}
img{
    height: auto;
    color: white;
    height: 100%;
}
.content-container{
    background-color: rgb(198, 217, 233);
    max-width: 100%;
}
.content-container > .header{
    display: grid;
    width: 100%;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    background-color: white;
}
.header-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 20px;
    gap: 10px;
    padding: 20px;
}
.header-container > .search-container > button{
    height: 100%;
    border: none;
    background-color: white;
}
.search-container{
    height: 100%;
    display: flex;
}
input{
    width: 100%;
    border: none;
    border-radius: 10px;
    background-color: rgb(198, 217, 233);
    padding-inline: 10px;
}
.subheader-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    padding: auto;
}
.subheader-container > .buttons-container{
    display: grid;
    gap: 10px;
    grid-template-columns: 60px 60px 60px ;
    width: 100%;
}
.buttons-container > button {
    background-color: rgb(0, 110, 255);
    border-radius: 10px;
    border: none;
    color: white;
    height: 25px;
    font-size: 0.8rem;
}
.body{
    background-color: rgb(198, 217, 233);
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 10px;
    padding: 20px;
}
h1{
    font-size: 1.1rem;
}
.projects{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.annoucements{
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}
.projects >  #projects{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    border-left: solid orange 7px;
}
.annoucements > div > #annoucements, .trending{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}
.subheader-container > .details-container{
    padding-inline: 30px;
}
.header-container > .details-container > span {
    float: right;
}